In [8]:
import pandas as pd

def load_df():
    df = pd.read_csv(r'd:\Excel study\Libro1.csv')
    return df


df = load_df()

In [12]:
import pandas as pd

def calcWeight(df):
    for i in range(len(df)):
        df.loc[i, "WEIGHT"] = df.loc[i, "WEIGHT MOD"] / (df.loc[i, "AVG PERFORMANCE"] * (df.loc[i, "TIMES STUDIED"] + 1))
    return df

df = calcWeight(df)
df.head()

,SUBJECT,TOPIC,TIMES STUDIED,AVG PERFORMANCE,WEIGHT MOD,WEIGHT,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Pure M.,Quadratics,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
1,Pure M.,Functions,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
2,Pure M.,Coord. Geometry,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
3,Pure M.,Circular Measure,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
4,Pure M.,Trigonometry,0,0.5,1.2,2.4,NaN,NaN,NaN,NaN

In [7]:
import pandas as pd
import random
def pickRandom(df):
    population = []
    weights = []
    for i in range(len(df)):
        population.append(i)
        weights.append(df.loc[i, "WEIGHT"])
    pick = random.choices(population,  weights)
    print(pick)
    flag = True
    while flag:
        studied = input("Set " + str(pick) + " as studied? \n[y/n]\n")
        if studied in ["Y", "y"]:
            flag = False
            df.loc[pick, "TIMES STUDIED"] += 1
            print("Set as studied")
        elif studied in ["N", "n"]:
            flag = False
        else:
            print("Invalid Input")
    print("Exited function")
    return df


df = pickRandom(df)
df.head()

[0]
Invalid Input
Invalid Input
Exited function

,SUBJECT,TOPIC,TIMES STUDIED,AVG PERFORMANCE,WEIGHT MOD,WEIGHT,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Pure M.,Quadratics,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
1,Pure M.,Functions,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
2,Pure M.,Coord. Geometry,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
3,Pure M.,Circular Measure,0,0.5,1.0,2.0,NaN,NaN,NaN,NaN
4,Pure M.,Trigonometry,0,0.5,1.2,2.4,NaN,NaN,NaN,NaN

In [ ]:
import pandas as pd


df.head()